---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="עמוד לא קיים" description="עמוד לא קיים">
  <div class="text-center">
    <h2>אופס... הגעת לעמוד שאינו קיים</h2>
    <p>לחזרה לעמוד הבית</p>
    <Link href="/" text="לחצו כאן" type="btn" />
  </div>
</MainLayout>
