---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page Not Found">
  <h1>אופס... הגעת לעמוד שאינו קיים</h1>
  <Link href="/" text="לעמוד הבית" />
</MainLayout>
