---
// layouts imports
import MainLayout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/SectionLayout.astro";

// component imports
import SubCTA from "../components/SubCTA.astro";
import TeamMember from "../components/TeamMember.astro";

// content imports
import { getCollection } from "astro:content";

const teamEntries = await getCollection("team");
---

<MainLayout
  title="אודות הצוות שלנו"
  description="הצוות המקצועי שלנו יעמיד לרשותכם את הידע והניסיון שלו במגוון משימות משאבי האנוש"
>
  <PageLayout heading="אודות">
    <div class="bg-bg-green max-w-2xl mx-auto mb-20 p-5 rounded shadow">
      <p>
        הצוות המקצועי שלנו ישמח להעמיד לרשותכם את הידע והניסיון שלו במגוון
        משימות משאבי האנוש.
      </p>
      <p>
        השירותים שלנו כוללים תמיכה בניהול שוטף, תהליכי גיוס, קליטה בארגון או
        בתפקיד חדש, הפקת משכורות ובנית מערכות שכר ונוכחות, בנית תכנית הערכה
        וקידום לעובדים, ייעוץ במהלכי כוח-אדם אסטרטגיים ובניית תוכניות רווחה.
      </p>
    </div>
    {teamEntries.map(entry => <TeamMember member={entry} />)}
    <SubCTA />
  </PageLayout>
</MainLayout>
