---
// layouts imports
import MainLayout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

// markdown imports
import { getCollection } from "astro:content";

const teamEntries = await getCollection("team");

import TeamMember from "../components/TeamMember.astro";
---

<MainLayout>
  <PageLayout heading="אודות">
    <p class="bg-bg-green max-w-2xl mx-auto mb-20 p-5 rounded shadow">
      הצוות המקצועי שלנו ישמח להעמיד לרשותכם את הידע והניסיון שלו במגוון משימות
      כולל גיוס, קליטה בארגון או בתפקיד חדש, הפקת משכורות ובנית מערך שכר, בנית
      מערך הערכה ותוכניות רווחה וקידום לעובדים, ייעוץ במהלכי כוח-אדם אסטרטגיים,
      ניהול התקשרות הפורמאלית עם העובד ועוד.
    </p>
    {teamEntries.map(entry => <TeamMember member={entry} />)}
  </PageLayout>
</MainLayout>
