---
import SubCTA from "../components/SubCTA.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<MainLayout
  title="למה דווקא אנחנו?"
  description="ניסיון של מעל 30 שנה וידע אקדמי ומקצועי עשיר בעולמות משאבי האנוש שעומדים לרשותכם ומחויבים להצלחה שלכם"
>
  <PageLayout heading="למה אנחנו?">
    <div
      class="max-w-3xl mx-auto mb-8 p-4 hover:border-e-4 hover:border-aqua ease-in-out duration-200"
    >
      <h2
        class="text-green-logo/70 text-2xl font-bold tracking-wider mb-4 md:text-3xl"
      >
        למה אנחנו?
      </h2>
      <p class="text-text-color/60 text-xl">
        לניסיון אין מחיר ולמקצוענות אין תחליף. הלקוחות שלנו נהנים משני העולמות –
        לצוות שלנו ניסיון של מעל 30 שנה, וידע אקדמי ומקצועי עשיר בעולמות משאבי
        האנוש, ניסיון וידע שעומדים לרשותכם ומחויבים להצלחה שלכם.
      </p>
    </div>

    <div
      class="max-w-3xl mx-auto mb-8 p-4 hover:border-e-4 hover:border-aqua ease-in-out duration-200"
    >
      <h2
        class="text-green-logo/70 text-2xl font-bold tracking-wider mb-4 md:text-3xl"
      >
        למה אתם?
      </h2>
      <p class="text-text-color/60 text-xl">
        כי אתם רוצים להתמקד בפעילות העיקרית של הארגון שלכם, עם ביטחון מלא
        שהעובדים שלכם מטופלים במקצועיות ואנושיות על-ידי צוות מחויב ומסור, ושאתם
        עומדים בכל דרישות החוק.
      </p>
    </div>

    <div
      class="max-w-3xl mx-auto mb-8 p-4 hover:border-e-4 hover:border-aqua ease-in-out duration-200"
    >
      <h2
        class="text-green-logo/70 text-2xl font-bold tracking-wider mb-4 md:text-3xl"
      >
        למה אנחנו מתחייבים?
      </h2>
      <p class="text-text-color/60 text-xl">
        אנו מתחייבים לשירות מקצועי ואדיב ולמענה מהיר ומדוייק לצרכי משאבי האנוש
        שלכם.
      </p>
    </div>

    <SubCTA />
  </PageLayout>
</MainLayout>
