---
// layout imports
import MainLayout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

// components imports
import ContactForm from "../components/ContactForm.astro";
import ContactMedia from "../components/ContactMedia.astro";

// image imports
import illustation from "../assets/letter-exchange.svg";
---

<MainLayout
  title="צרו קשר"
  description="צרו עמנו קשר ותיהנו מטיפול אישי ומקצועי בהון האנושי שלכם"
>
  <PageLayout heading="דברו איתנו">
    <section class="">
      <ContactMedia />
      <div class="lg:grid grid-cols-2 gap-8">
        <ContactForm />
        <img src={illustation.src} alt="" class="hidden lg:block" />
      </div>
    </section>
  </PageLayout>
</MainLayout>
