---
// layout imports
import MainLayout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

// components imports
import Service from "../components/Service.astro";
import SubCTA from "../components/SubCTA.astro";

// content imports
import { getCollection } from "astro:content";

const servicesEntries = await getCollection("services");
---

<MainLayout
  title="שירותים מקצועיים במשאבי אנוש"
  description="שירותים מקצועיים בתחום משאבי האנוש הכוללים טיפול שוטף, גיוס, מערך שכר, מערך נוכחות, ליווי מנהלים ותמיכה במהלכי שינויים ארגוניים"
>
  <PageLayout heading="שירותים">
    <div class="">
      {servicesEntries.map(entry => <Service service={entry} />)}
    </div>
    <SubCTA />
  </PageLayout>
</MainLayout>
