---
import { Icon } from "astro-icon";
---

<div class="grow-[2]">
  <form
    action="https://formsubmit.co/mikud-na@mikud.net"
    method="POST"
    class="grid gap-fluid-s md:grid-cols-2 auto-rows-fr"
  >
    <input type="hidden" name="_next" value="https://mikud.net/thankyou.html" />
    <input type="hidden" name="_subject" value="הודעה חדשה מאתר מקוד" />

    <div>
      <label for="name">שם</label>
      <input
        id="name"
        type="text"
        name="name"
        required
        class="w-full p-fluid-xs bg-input border-none rounded-lg focus:ring-accent focus:ring-2 focus:bg-background valid:ring-accent valid:ring-2 valid:bg-background"
      />
    </div>

    <div>
      <label for="email">דוא״ל</label>
      <input
        id="email"
        type="email"
        name="email"
        required
        class="w-full p-fluid-xs bg-input border-none rounded-lg focus:ring-accent focus:ring-2 focus:bg-background valid:ring-accent valid:ring-2 valid:bg-background"
      />
    </div>

    <div class="col-span-full row-span-2">
      <label for="message">הודעה</label>
      <textarea
        id="message"
        wrap="soft"
        name="message"
        required
        class="w-full h-full p-fluid-xs bg-input border-none rounded-lg focus:ring-accent focus:ring-2 focus:bg-background valid:ring-accent valid:ring-2 valid:bg-background"
      ></textarea>
    </div>

    <button
      type="submit"
      class="bg-accent text-white px-fluid-m py-fluid-2xs font-semibold w-max border-2 rounded-full transition flex items-center gap-3 self-end hover:bg-white hover:text-accent border-accent"
    >
      <span>שלחו</span>
      <Icon name="tabler:send" class="w-6" />
    </button>
  </form>
</div>
