<footer class="bg-bg-green p-4">
  <div class="flex justify-center items-end gap-5">
    <small>
      &copy; כל הזכויות שמורות <span id="copyright"></span> | מקוד - ניהול אנשים
      מכוון מטרה
    </small>
  </div>
</footer>

<script>
  const copyYear = document.getElementById("copyright") as HTMLElement;
  copyYear.textContent = new Date().getFullYear().toString();
</script>
