<footer>
  <small>
    Copyright &copy; <span id="copyright"></span> | All rights reserved
  </small>
</footer>

<script>
  const copyYear = document.getElementById("copyright") as HTMLElement;
  copyYear.textContent = new Date().getFullYear().toString();
</script>
