<button
  id="menu-btn"
  aria-label="פתיחת תפריט"
  class="flex flex-col justify-between items-center relative z-50 w-6 h-6 md:hidden"
>
  <span class="line top"></span>
  <span class="line middle"></span>
  <span class="line bottom"></span>
</button>
