---
// component imports
import Link from "./Link.astro";

// images imports
import logo from "../images/logo.png";

const navLinks: { name: string; path: string }[] = [
  {
    name: "שירותים",
    path: "/שירותים/"
  },
  {
    name: "אודות",
    path: "/אודות/"
  },
  {
    name: "למה אנחנו?",
    path: "/למה-אנחנו/"
  }
];
---

<header class="flex justify-between">
  <a href="/" class="logomark" aria-label="Go home">
    <img src={logo} width="60" alt="logo mark" />
  </a>
  <nav>
    <ul>
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
    </ul>
  </nav>
  <Link href="/צור-קשר/" text="צרו קשר" />
</header>
