---
// components imports
import Link from "./Link.astro";
---

<section
  class="min-h-screen text-white bg-[url('../assets/hero-bg-blur.jpg')] bg-cover bg-center"
>
  <!-- Hero wrapper -->
  <div
    class="min-h-screen bg-[url('../assets/hero-bg-filter.jpg')] bg-cover bg-center px-fluid-s py-fluid-xl text-center flex flex-col items-center justify-center gap-fluid-xl"
  >
    <h1 class="text-fluid-5 font-semibold leading-none md:mt-28">
      ניהול אנשים מכוון מטרה
    </h1>
    <div class="flex flex-col gap-5 text-fluid-2">
      <h2>יחידת משאבי אנוש מקצועית במיקור חוץ לעסקים בינוניים וקטנים</h2>
      <h2>ייעוץ וליווי ארגוני</h2>
    </div>

    <div class="flex gap-8">
      <Link
        text="לייעוץ חינם"
        href="#צור-קשר"
        type="btn"
        btnStyle="btn-primary"
      />
      <Link text="לפרטים" href="#שירותים" type="btn" btnStyle="btn-secondary" />
    </div>
  </div>
</section>

<!-- 
  class="min-h-screen text-white bg-slate-400 bg-[url('../assets/hands-stack_medium.jpg')] bg-cover bg-center bg-blend-multiply flex flex-col items-center justify-center"
 -->

<!-- 
<section
  class="relative z-0 bg-bg-green pt-28 px-6 pb-16 sm:px-12 md:pt-44 md:px-24"
>
  <div class="max-w-screen-xl mx-auto lg:grid grid-cols-2 items-center gap-24">
    <div>
      <h1
        class="flex flex-col items-start text-text-color text-4xl font-bold mb-8 md:text-5xl"
      >
        <span class="relative">
          <span
            class="absolute left-0 right-0 bottom-0.5 h-1/4 bg-aqua"
            aria-hidden="true"></span>
          <span class="relative">מִקּוּד</span>
        </span>
        <span class="mt-2"> ניהול אנשים מכוון מטרה</span>
      </h1>
      <h2 class="text-xl mb-12 font-bold md:text-2xl">
        ניהול ההון האנושי שלכם במיקור חוץ
        <br />
        ייעוץ וליווי ארגוני
      </h2>
      <Link
        href="/צור-קשר/"
        text="דברו איתנו"
        classes={"inline-block text-black font-bold px-5 py-1 bg-aqua border-2 border-text-color rounded-full md:text-xl"}
      />
    </div>
  </div>
</section>
 -->
