---
import Link from "./Link.astro";
---

<section class="flex bg-bg-green pt-24 px-4 pb-12 md:pt-60">
  <div>
    <h1 class="font-headings text-main-green text-4xl font-bold">
      <span class="block text-dark-blue">מיקוד</span>
      ניהול אנשים מכוון מטרה
    </h1>
    <h2 class="">טיפול אישי ומקצועי בהון האנושי שלכם במיקור חוץ</h2>
    <Link
      href="/צור-קשר/"
      text="דברו איתנו"
      classes={"inline-block px-4 py-1 bg-main-green text-white rounded-full"}
    />
  </div>
</section>
