<section>
  <div>
    <h1>
      <span>מיקוד</span>
      ניהול אנשים מכוון מטרה
    </h1>
  </div>

  <div class="text-9xl">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur,
    dolores totam. Dolore dolor architecto labore maxime rerum ipsum illum
    corporis suscipit voluptate rem, error ut! Fuga ratione at accusantium vero?
  </div>
</section>
