---
// components imports
import Link from "./Link.astro";
---

<section
  class="min-h-screen text-white bg-[url('../assets/hero-bg-blur.jpg')] bg-cover bg-center"
>
  <!-- Hero wrapper -->
  <div
    class="min-h-screen bg-[url('../assets/hero-bg-filter.jpg')] bg-cover bg-center px-fluid-s py-fluid-xl text-center flex flex-col items-center justify-center gap-7 sm:gap-fluid-xl md:bg-fixed"
  >
    <h1 class="text-fluid-5 font-semibold md:mt-28">
      ניהול אנשים <span class="whitespace-nowrap">מכוון מטרה</span>
    </h1>
    <div class="flex flex-col gap-5 text-fluid-2">
      <h2>
        ניהול המשאב האנושי באמצעות מיקור חוץ <span class="whitespace-nowrap"
          >חוסך זמן, כסף ודאגות</span
        >
      </h2>
      <h2 class="text-base sm:text-fluid-2">
        אנו מספקים פתרונות ניהול כולל של המשאב האנושי, ליווי מנהלים וייעוץ
        ארגוני
      </h2>
    </div>

    <div class="mt-12 flex flex-wrap justify-center gap-2 sm:gap-8">
      <Link
        text="לייעוץ חינם"
        href="tel:04-6442777"
        type="btn"
        btnStyle="btn-primary"
        icon="lucide:phone-call"
        classes="hover:bg-white hover:text-accent hover:border-accent"
      />
      <Link
        text="לפרטים"
        href="#שירותים"
        type="btn"
        btnStyle="btn-secondary"
        classes="hover:btn-inverted"
      />
    </div>
  </div>
</section>
