---
import Link from "./Link.astro";
---

<section
  class="p-fluid-xl text-white bg-[#554E52] bg-[url('../assets/marketing-bg.jpg')] bg-cover bg-center"
>
  <div class="flex flex-col items-center gap-7 text-center">
    <h2 class="text-fluid-3">מוכנים לקחת את העסק שלכם לשלב הבא?</h2>
    <p>התקשרו עכשיו לשיחת ייעוץ בחינם</p>
    <Link
      text="צרו קשר"
      href="#צור-קשר"
      type="btn"
      btnStyle="btn-secondary"
      classes="hover:btn-inverted"
    />
  </div>
</section>
