---
// library imports
import { Icon } from "astro-icon";

// component imports
import Link from "./Link.astro";

// images imports
import logo from "../images/logo.png";

const navLinks: { name: string; path: string }[] = [
  {
    name: "שירותים",
    path: "/שירותים/"
  },
  {
    name: "אודות",
    path: "/אודות/"
  },
  {
    name: "למה אנחנו?",
    path: "/למה-אנחנו/"
  }
];
---

<nav>
  <div class="navbar">
    <a href="/" class="logomark" aria-label="Go home">
      <img src={logo} width="60" alt="logo mark" />
    </a>
    <ul>
      {navLinks.map(item => <Link href={item.path} text={item.name} />)}
    </ul>
  </div>
</nav>
