---
import SectionLayout from "../layouts/SectionLayout.astro";
import ContactForm from "./ContactForm.astro";
import Link from "./Link.astro";
---

<SectionLayout heading="דברו איתנו" id="צור-קשר">
  <div class="max-w-4xl mx-auto flex flex-col md:flex-row gap-fluid-2xl">
    <div class="flex justify-around md:flex-col md:justify-between">
      <Link
        text="נייד"
        href="tel:054-2240063"
        type="btn"
        btnStyle="btn-inverted"
        icon="tabler:device-mobile"
        classes="hidden md:flex"
      />
      <Link
        text="וואטסאפ"
        href="https://wa.me/972542240063"
        type="btn"
        btnStyle="btn-inverted"
        icon="tabler:brand-whatsapp"
        classes="hidden md:flex"
      />
      <Link
        text="טלפון"
        href="tel:04-6442777"
        type="btn"
        btnStyle="btn-inverted"
        icon="tabler:phone"
        classes="hidden md:flex"
      />
      <Link
        text="אימייל"
        href="mailto:mikud-na@mikud.net"
        type="btn"
        btnStyle="btn-inverted"
        icon="tabler:mail"
        classes="hidden md:flex"
      />

      <!-- mobile -->
      <Link
        href="tel:054-2240063"
        type="btn"
        btnStyle="btn-icon"
        icon="tabler:device-mobile"
      />
      <Link
        href="https://wa.me/972542240063"
        type="btn"
        btnStyle="btn-icon"
        icon="tabler:brand-whatsapp"
      />
      <Link
        href="tel:04-6442777"
        type="btn"
        btnStyle="btn-icon"
        icon="tabler:phone"
      />
      <Link
        href="mailto:mikud-na@mikud.net"
        type="btn"
        btnStyle="btn-icon"
        icon="tabler:mail"
      />
    </div>
    <ContactForm />
  </div>
</SectionLayout>
