---
// content imports
import type { CollectionEntry } from "astro:content";

interface Props {
  service: CollectionEntry<"services">;
}

const { service } = Astro.props;
const { Content } = await service.render();
---

<section
  id={service.data.id}
  class="prose md:prose-lg lg:prose-xl prose-ul:mr-4 pt-24 -mt-12 lg:pt-32 lg:-mt-16"
>
  <h2 class="text-green-logo/70">
    {service.data.title}
  </h2>
  <Content />
</section>
