---
// component imports
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// style imports
import "../styles/global.css";
import "@fontsource/rubik";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="he" dir="rtl" class="scroll-smooth">
  <MainHead title={title} description={description} />
  <body>
    <Header />
    <main class="animate-pageLoad">
      <slot />
    </main>
    <Footer />
    <script src="/public/nagishli_beta.js" is:inline></script>
  </body>
</html>
