---
// component imports
import MainHead from "../components/MainHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

// style imports
import "../styles/global.css";
import "@fontsource/rubik";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="he" dir="rtl">
  <MainHead title={title} description={description} />
  <body
    class="bg-background text-text text-fluid-1 flex flex-col justify-between min-h-screen"
  >
    <Header />
    <main class="animate-pageLoad">
      <slot />
    </main>
    <Footer />
  </body>
</html>
