---
// component imports
import MainHead from "./MainHead.astro";

// style imports
import "../styles/global.css";

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "מיקוד | ניהול אנשים מכוון מטרה",
  description = "טיפול אישי ומקצועי בהון האנושי שלכם במיקור חוץ"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="he" dir="rtl">
  <MainHead title={title} description={description} />
  <body>
    <slot />
  </body>
</html>
